#back_link{
    background: #2e3192;
    padding: 25px 0;
    margin-top: 40px;
    margin-bottom: 40px;
    ul{
        list-style: none;
        display: flex;
        li{
            padding: 0px 15px;
            position: relative; 
            &::after{
                position: absolute;
                content: "/";
                color: #fff;
                right: -3px;
            }
            &:first-child{
                padding-left: 0px; 
            }
            &:last-child{
                padding-right: 0px;
                &::after{
                    display: none;
                }
            }
            a{
                color:var(--bg-body);
                .fa-home{
                    font-size: 14px;
                    margin-right: 5px;
                }
            }
        }
    }
}
#list-product{
    .box-product{
        margin-bottom: 30px;
        .img-product{ 
            height: 225px;
            overflow: hidden;
            img{
                width: 100%;
                height: 225px;
                object-fit: cover;
                opacity: 0.8;
                transition: transform .35s;
            }
            &:hover{
                img{
                     transform: scale(1.2);
                     opacity: 1;
                }
            }
        }
        .desc-pro{
            padding:35px 25px 25px 25px;
            background: var(--bg-body);
            position: relative;
            .title-product{
                position: absolute;
                top: -15px;
                a{
                    font-weight: 400;
                    font-size: 18px;
                    display: inline-block;
                    padding: 5px 10px;
                    background: var(--color-primary);
                    color:var(--bg-body);
                }
            }
            p{
                font-size: 14px;
                font-weight: 400;
                line-height: 23px;
            }
        } 

    }
}
#list-product.news-pages{
    .box-product{
        .desc-pro{
            .title-product{
                a{
                    background:#3cbff3;
                } 
            }
        } 
    } 
}
#news-detail{
    .content-news{
        background: var(--bg-body);
        padding: 15px; 
        .title-detail{
            font-size: 30px;
            line-height:auto;
            margin-bottom: 15px;
        }
        img{
            max-width: 100%;
            margin: 15px 0px;
        }
        p{
            font-size: 16px;
            color: var(--text-color);
            line-height: 24px;
        }
    }
}
#product-detail{ 
    h3.title-content_full{
        line-height: 2.5; 
        font-size: 34px;
        text-align: center;
        color: var(--color-heading);
        border-bottom: 1px solid #ccc;
        margin-bottom: 20px;
        font-weight: 400;
    }
    .box-product_detail_item{
        padding: 50px 15px;
        background-color: var(--bg-body);
        margin-bottom: 70px;
        .content_detail-product{
            .product_title{
                font-size: 24px;
                line-height: 1.5;
                font-weight: bold;
                color: var(--color-heading);
                margin-bottom: 30px;
            }
            .desc_detail{
                p{
                    font-size: 14px;
                    color: rgba(116, 116, 116, 1);
                    line-height: 1.8;
                    margin-top: 12px;
                }
                
            }
            @media (max-width:767px) {
                margin-top: 50px;
            }
        } 
        .content-detail_full{
            margin-top: 50px; 
            p{
                font-size: 16px;
                color: var(--color-text);
                line-height: 2;
            }
        }
    }
    .products-related{
        padding: 50px 15px;
        background-color: var(--bg-body);
        .box-related{
            padding: 10px;
            margin-bottom:20px;
            border-radius: 15px; 
            .img-related{ 
                img{
                    min-height: 180px;

                }
            }
            h2{
                font-size: 16px; 
                text-align: left;
                line-height: 1;
                padding: 15px 0px 10px;
                margin-top: 15px;
                border-top: 1px solid #eee; 
                a{
                    color: var(--color-heading); 
                    &:hover{
                        color: var(--color-primary);
                    }
                } 
            }
        }
    }
}
//  contact us 

.box-maps{
    margin-bottom:50px;
}
.bg-contact{
    background-color: var(--bg-body);
    padding:30px;
    .contact-box{ 
        margin-bottom: 30px;
        .title-contact{
            position: relative;
            font-size: 20px;
            color: var(--color-primary);
            margin-bottom: 10px;
            padding-bottom: 10px; 
            font-weight: 400;
            text-transform: uppercase;
            border-bottom: 1px solid #ccc;
            &::after{
                position: absolute;
                left: 0px;
                bottom: 0px;
                content: ""; 
                width: 70px;
                height: 3px;
                background: var(--color-primary);
            }
        }
        p{
            font-size: 16px;
            color: var(--color-text-body);
            font-weight: 400;
            i.fa{
                font-size: 14px;
                margin-right: 10px;
                color: var(--color-primary);
            }
        }
    } 
    .form-contact{
        .form-group{
            margin-bottom: 20px;
            input{
                border-radius: 0px; 
                height: 42px;
            }
            textarea{
                border-radius: 0px; 
            } 
        }
        button{
            padding: 7px 18px;
            border-radius: 0px;
            border: 0px;
            background: var(--color-primary);
            text-align: center;
            color: var(--bg-body);
        }
    }
    @media (max-width:991px) {
         padding:15px;
    }
}
