
 .container-list {
	 padding: 2rem 0rem;
	 margin: 0 auto;
	 max-width: 68rem;
	 width: 100%;
}
 .container-list {
	 display: grid;
	 grid-template-columns: repeat(8, 1fr);
	 grid-gap: 1rem;
	 justify-content: center;
	 align-items: center;
}
 .card {
	 background: #fff;
	 box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 3px rgba(0, 0, 0, 0.24);
	 color: #333;
	 border-radius: 2px;
}
 .card-image {
	 background: #fff;
	 display: block;
	 padding-top: 70%;
	 position: relative;
	 width: 100%;
}
 .card-image img {
	 display: block;
	 position: absolute;
	 top: 0;
	 left: 0;
	 width: 100%;
	 height: 100%;
	 object-fit: cover;
}
 @media only screen and (max-width: 600px) {
	 .container-list {
		 display: grid;
		 grid-template-columns: repeat(3, 1fr);
		 grid-gap: 1rem;
	}
}
 